*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

main{
  height: 90%;
  width: 90%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow:0 1px 10px rgba(0, 0, 0, 0.3);
}

.img{
  height: 260px;
  margin-bottom: 10px;
}
.img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.container{
  padding: 0 25px;
  margin-top: 20px;
}

.container h1{
  font-size: 1rem;
  font-weight: 200;
  font-family: sans-serif, serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 5px;
  color: #000;
  opacity: 90%;
}

.container h2{
  font-size: 1.8rem;
  font-weight: 700;
  font-family: Times, serif;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.container p{
  font-size: 1rem;
  font-weight: 200;
  font-family: serif;
  margin-bottom: 20px;
  color: #000;
  opacity: 90%;
}

.container .rate{
  margin-bottom: 20px;
}
.container .rate .new-rate{
  font-size: 2rem;
  font-weight: 600;
  font-family: times, serif;
  margin-right: 10px;
  color: darkgreen;
}

.container .rate .old-rate{
  text-decoration: line-through;
  opacity: 90%;
}

.container .btn{
  height: 40px;
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:darkgreen;
  color: #fff;
  border-radius: 10px;
  border: none;
  box-shadow:0 1px 10px rgba(0, 0, 0, 0.3);
}

.btn i {
  margin-right: 10px;
}
.btn:active{
  color: #000;
  background-color: rgba(52, 90, 55, 0.8);
}

@media (min-width:800px) {
  
  main{
     height: 500px;
    display: flex;
    border-bottom-left-radius: 20px;
  }
  
  .img{
    height: 500px;
    width: 430px;
  }
  .img img{
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .container{
    height: 500%;
    width: 50%;
    padding-left: 40px;
    padding-top: 30px;
  }
  
  .container h1,
  .container h2,
  .container p,
  .container .rate,
  .container btn{
   margin-bottom: 40px;
  }
}